<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGuKbyfVCGixd4zMjOGLrieMicqRIGRps</string>
	<key>GCM_SENDER_ID</key>
	<string>913097538260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abuzayd.iqra</string>
	<key>PROJECT_ID</key>
	<string>iqra-quran-project</string>
	<key>STORAGE_BUCKET</key>
	<string>iqra-quran-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913097538260:ios:bb56840f5ed2917a455941</string>
</dict>
</plist>